<h1>Home Page</h1>
<fieldset>
<h2>SEARCH</h2>
  <input type="text" id="search" placeholder="Contact name"><br>
</fieldset>
<fieldset>
<button id="getAllContacts">All Contacts</button>
</fieldset>
<div id='result'>
  <table border="2px" class="contactInfo">
    <thead>
      <tr>
        <td width="100px">name</td>
        <td width="100px">email</td>
      </tr>
      </thead>
      <tbody>
        
      </tbody>
  </table>
</div>

<div id ="contactForm">
  <fieldset>
    <legend> Add New Contact </legend>
      <form id="newContact">
      <input type="text" id="name" placeholder="Contact Name"><br>
      <input type="text" id="email" placeholder="Email Address"><br>
      <input type="submit" value="Create Contact">
      </form>
  </fieldset>
</div>
